@font-face{
  font-family: 'Norse-Bold';
  src: url('fonts/Norse-Bold.otf');
  font-size: normal;
  font-weight: normal;
}
:root{
  --padding-top:250px;
  --padding-left:40px;
  --padding-bottom:60px;
}
input,
button,
label {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  box-sizing: border-box;
  appearance: none;
}

html,body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: 1.5;
}
.container {
  display: flex;
  width: 100%;
}
.sidebar {
  width: 33.33%;
  background: url('images and logo/halie-west-25xggax4bSA-unsplash.jpg') repeat-y center center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.content{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.logo{
  width: 150px;
  height: 200px;
  margin: 5px 0;
  
}
.title{
  font-size: 4rem;
  color: #fff;
  font-family: 'Norse-Bold' ;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.4);
}
.credit{
  bottom: 10px;
  position: absolute;
  left: calc(15px + 4vw);
}
.credit, .credit a {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: calc(1rem + 0.5vw);
}
.sec1{
  background: #fcf5f5;
  padding-top: var(--padding-top);
  padding-left: var(--padding-left);
  padding-bottom: var(--padding-bottom);
}
.sec1 p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: bold;
}
.sec2{
  background: #fff;
  padding-left: var(--padding-left);
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: var(--padding-bottom);
  box-shadow: 0 3px 5px  grey;
  border-radius: 0 0 10px 10px;
}
.sign_up_form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}
.sign_up_form div {
  margin-right: 150px;
}
.sign_up_form div input {
  width: 600px;
  height: 70px;
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 5px;
  margin-top: 10px;
}
.sec2 h2 {
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 0;
}

.sign_up_form div input:invalid {
  border: 1px solid red;
}

.sign_up_form div input:valid{
  border: 1px solid green;
}
.sign_up_form div input:focus {
  outline: none;
  border: 1px solid blue
}
label {
  font-size: calc(1rem + 1vh);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sec3 {
  padding-left: var(--padding-left);
  padding-top: 50px;
  height: 300px;
}
.sec3 button {
  border: none;
  padding: 15px 50px;
  border-radius: 7px;
  font-size: calc(1.2rem + 2vh);
  color: #fcf5f5;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background: darkgreen;
  cursor: pointer;
}
.sec3 p , .sec3 a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(1.2rem + 2vh);
}
.sec3 a{
  text-decoration: none;
  color: darkgreen;
}
